* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: min(calc(1em + 1vw), 4em);
}

body {
  min-height: 100vh;

  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1, 'liga' on, 'dlig' on;
  line-height: 1.5;

  color: DarkSlateGray;
  background-color: silver;
}

body > * {
  padding: 0.2rem;
}

header {
  background-color: white;
  margin-bottom: 1rem;
  color: silver;
}

header > h1 {
  font-size: 1rem;
  text-align: right;
}

nav li {
  display: inline;
}

nav li a {
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
}

section {
  width: min(100%, 38rem);
  background: white;
  border-radius: 0.2rem;
  padding: 0.2rem;
}
section + section {
  margin-top: 1rem;
}

h3 {
  border-bottom: DarkSlateGray 1px solid;
  margin-bottom: 1rem;
}

pre {
  padding-left: 0.2rem;
  background: DarkSlateGray;
  color: white;
}
